body{
  background-color: #d9d9d9;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #66d48b;
  color: white;
}
.header h1{
  margin-left: 50px;
}
.header a{
  margin-right: 50px;
}
.threadList{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.threadList ul{
  padding: 0;
  background-color: white;
}
.threadList li{
  list-style: none;
  border: black 1px solid;
  border-bottom: none;
  width: 500px;
  padding: 20px 10px 20px 10px;
}
.threadList li:last-child{
  border-bottom: black 1px solid;
}
.threadList a{
  text-decoration: none;
}