body {
  background-color: #d9d9d9;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #66d48b;
  color: white;
}
.top {
  margin-left: 50px;
  text-decoration: none;
}
header a {
  margin-right: 50px;
}
header a:visited {
  color: white;
}
.threadList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.threadList ul {
  padding: 0;
  background-color: white;
}
.threadList li {
  list-style: none;
  border: black 1px solid;
  border-bottom: none;
  width: 500px;
  padding: 20px 10px 20px 10px;
}
.threadList li:last-child {
  border-bottom: black 1px solid;
}
.threadList a {
  text-decoration: none;
}
.createThread {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.createThread input {
  width: 500px;
}
.createThread button {
  margin-top: 5px;
}
.inTitle {
  display: flex;
  flex-direction: column;
}
.postList{
  margin-left: 50px;
}
.postList ul{
  padding: 0;
}
.postList ul li{
  list-style: none;
  width: 500px;
  word-break: break-all;
  background-color: white;
  border: solid 1px black;
  margin-bottom: 20px;
  padding: 40px;
}
.postList textarea{
  width: 250px;
  padding: 10px;
  border: solid 1px black;
}
.postList button{
  display: block;
  width: 270px;
  height: 50px;
  border: solid 1px black;
  background-color: #66d48b;
  color: white;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
}